<nav class="navbar navbar-expand navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/books" class="nav-link {% if nav=="books" %} active {% endif %}">Book list</a>
            </li>
            <li class="nav-item">
                <a href="/books/new" class="nav-link {% if nav=="new" %} active {% endif %}">New book</a>
            </li>
        </ul>
    </div>
</nav>